# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CodeDesign/.vs/CodeDesign/v16/Browse.VC.db

CodeDesign/.vs/CodeDesign/v16/Browse.VC.db-shm

CodeDesign/.vs/CodeDesign/v16/Browse.VC.db-wal

CodeDesign/.vs/CodeDesign/v16/Browse.VC.opendb

CodeDesign/.vs/CodeDesign/v16/ipch/AutoPCH/566eaed4e3b1b4a4/DOUBLELINKEDLIST.ipch

CodeDesign/CodeDesign.sln

CodeDesign/.vs/CodeDesign/v16/.suo

CodeDesign/.vs/CodeDesign/v16/ipch/AutoPCH/678e12c97ce2cdc9/LINKEDLIST.ipch

CodeDesign/.vs/CodeDesign/v16/ipch/AutoPCH/d1bc8990c910369b/PROFILE.ipch

CodeDesign/.vs/CodeDesign/v17/.suo

CodeDesign/.vs/CodeDesign/v17/Preview/Browse.VC.db

CodeDesign/.vs/CodeDesign/v17/Preview/Browse.VC.db-shm

CodeDesign/.vs/CodeDesign/v17/Preview/Browse.VC.db-wal

CodeDesign/.vs/CodeDesign/v17/Preview/Browse.VC.opendb

CodeDesign/.vs/CodeDesign/v17/Preview/ipch/AutoPCH/d1bc8990c910369b/PROFILE.ipch
